@model IEnumerable<Student>
@{
    ViewBag.Title = "Student List";
}

<div class="container mt-5">
    <h1 class="text-center">The List of Students</h1>
    <div>
        <a asp-action="create" asp-controller="Student" class="btn btn-primary">Create</a>
    </div>
    <br />
    <table class="table table-bordered table-striped text-center">
        <thead>
            <tr class="alert alert-success">
                <td><h3>ID</h3></td>
                <td><h3>Name</h3></td>
                <td><h3>Age</h3></td>
                <td><h3>Image</h3></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
                @foreach(var i in Model)
                {
                    <tr>
                        <td>@i.id</td>
                        <td>@i.name</td>
                        <td>@i.age</td>
                        <td><img class="imagesize" src="~/image/@i.imagepath" /></td>
                        <td> 
                            <a asp-action="details" asp-controller="Student" asp-route-id="@i.id" class="btn btn-info">Details</a>
                            <a asp-action="update" asp-controller="Student" asp-route-id="@i.id" class="btn btn-success">Update</a>
                            @*to confirm the delete operation make onclick action*@
                            <a onclick="return confirm('are you sure to delete this student')"
                                asp-action="delete" asp-controller="Student" asp-route-id="@i.id" class="btn btn-danger">Delete</a>
                            </td>
                    </tr>
                }
        </tbody>
    </table>
</div>
